Repository yijia-cc/grouplive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yijia-cc, @wl328Weiminli, @unevenmoon, @isabellakqq, @MEtoCS, @wikiwu24, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Owner
*            @yijia-cc

# frontend owner
*.js         @wl328Weiminli

# auth owner
auth/*       @unevenmoon
auth/*       @isabellakqq

# calendar owner
calendar/*   @yijia-cc

# chat owner
chat/*       @MEtoCS
chat/*       @wikiwu24
chat/*       @yuranranran

# dashboard owner
dashboard/*  @isabellakqq
dashboard/*  @ziyang-666

# discussion owner
discussion/* @jackiewang5566

# payment owner
payment/*    @Zanzan666

update docker image in drone
  .drone.yml
Owners: @yijia-cc

added ui (#65)
  web/package-lock.json
  web/package.json
  web/src/index.js
  web/src/pages/Payment/index.jsx
Owners: @yijia-cc, @wl328Weiminli

Update application.yml
  chat/src/main/resources/application.yml
Owners: @yijia-cc

add chat springboot service (#66)
  .drone.yml
  chat/.gitignore
  chat/Dockerfile
  chat/pom.xml
  chat/src/main/java/com/amr/chatservice/ChatServiceApplication.java
  chat/src/main/java/com/amr/chatservice/configuration/SecurityConfig.java
  chat/src/main/java/com/amr/chatservice/configuration/WebSocketConfig.java
  chat/src/main/java/com/amr/chatservice/controller/ChatController.java
  chat/src/main/java/com/amr/chatservice/exception/ResourceNotFoundException.java
  chat/src/main/java/com/amr/chatservice/model/ChatMessage.java
  chat/src/main/java/com/amr/chatservice/model/ChatNotification.java
  chat/src/main/java/com/amr/chatservice/model/ChatRoom.java
  chat/src/main/java/com/amr/chatservice/model/MessageStatus.java
  chat/src/main/java/com/amr/chatservice/repository/ChatMessageRepository.java
  chat/src/main/java/com/amr/chatservice/repository/ChatRoomRepository.java
  chat/src/main/java/com/amr/chatservice/service/ChatMessageService.java
  chat/src/main/java/com/amr/chatservice/service/ChatRoomService.java
  chat/src/main/resources/application.yml
  chat/src/test/java/com/amr/chatservice/ChatRoomServiceApplicationTests.java
Owners: @yijia-cc, @yuranranran

Add restful user API
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/token.go
  auth/controller/user.go
  auth/main.go
  auth/model/user.go
Owners: @yijia-cc, @isabellakqq

Add userHandler and data model
  dashboard/config/config.go
  dashboard/controller/user.go
  dashboard/go.mod
  dashboard/go.sum
  dashboard/main.go
  dashboard/model/db.go
  dashboard/model/event.go
  dashboard/model/media.go
  dashboard/model/reaction.go
  dashboard/model/user.go
Owners: @yijia-cc, @ziyang-666

Add the reserve and amentity switch ui
  web/src/pages/Calendar/AmenityList/index.jsx
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.css
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.jsx
  web/src/pages/Calendar/CalendarSchedule/index.jsx
  web/src/pages/Calendar/index.jsx
  web/src/redux/reducers/testReducer.js
Owners: @yijia-cc, @wl328Weiminli

Revise tooltip to avoid user revise past appointment
  web/src/pages/Calendar/CalendarSchedule/index.jsx
Owners: @yijia-cc

Delete, save, update calendar support, switch the amenity data when switch amenity type
  web/package-lock.json
  web/package.json
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.jsx
  web/src/pages/Calendar/CalendarSchedule/demo-data/appointments.js
  web/src/pages/Calendar/CalendarSchedule/index.jsx
Owners: @yijia-cc, @wl328Weiminli

Shade the past time table cell for calendar(user)
  web/src/pages/Calendar/CalendarSchedule/demo-data/appointments.js
  web/src/pages/Calendar/CalendarSchedule/index.css
  web/src/pages/Calendar/CalendarSchedule/index.jsx
Owners: @wl328Weiminli, @yijia-cc

Add tool bar to support calendar pagination and today function
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.jsx
  web/src/pages/Calendar/CalendarSchedule/demo-data/appointments.js
  web/src/pages/Calendar/CalendarSchedule/index.jsx
Owners: @yijia-cc, @wl328Weiminli

rebase from master
  web/package-lock.json
Owners: @yijia-cc

Wl328 weiminli/calendar UI customize (#70)
  web/package-lock.json
  web/package.json
  web/src/pages/Calendar/AmenityList/index.jsx
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.css
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.jsx
  web/src/pages/Calendar/CalendarSchedule/demo-data/appointments.js
  web/src/pages/Calendar/CalendarSchedule/index.css
  web/src/pages/Calendar/CalendarSchedule/index.jsx
  web/src/pages/Calendar/index.jsx
  web/src/redux/reducers/testReducer.js
Owners: @yijia-cc, @wl328Weiminli

Refactor sign in API
  auth/.gitignore
  auth/add.go
  auth/add_test.go
  auth/archive/controller/access.go
  auth/archive/controller/controller.go
  auth/archive/controller/delete.go
  auth/archive/controller/signin.go
  auth/archive/controller/signup.go
  auth/archive/controller/token.go
  auth/archive/model/db.go
  auth/archive/model/user.go
  auth/archive/old_main.go
  auth/config/config.go
  auth/db/dao/user.go
  auth/db/db.go
  auth/db/migrations/1_create_schema.sql
  auth/dep/wire.go
  auth/dep/wire_gen.go
  auth/entity/id.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/repo/user.go
  auth/routing/entry/entry.go
  auth/routing/handlers.go
  auth/routing/routes.go
  auth/routing/server.go
  auth/security/cipher.go
  auth/security/jwtauthority.go
  auth/service/authentication.go
  auth/service/authorization.go
  auth/tm/timer.go
  auth/tx/transaction.go
  auth/tx/txtest/fake_transaction.go
Owners: @isabellakqq, @yijia-cc

Remove unused code
  auth/archive/controller/access.go
  auth/archive/controller/controller.go
  auth/archive/controller/delete.go
  auth/archive/controller/signin.go
  auth/archive/controller/signup.go
  auth/archive/controller/token.go
  auth/archive/model/db.go
  auth/archive/model/user.go
  auth/archive/old_main.go
Owners: @yijia-cc

Revert "add chat springboot service (#66)"
  .drone.yml
  chat/.gitignore
  chat/Dockerfile
  chat/pom.xml
  chat/src/main/java/com/amr/chatservice/ChatServiceApplication.java
  chat/src/main/java/com/amr/chatservice/configuration/SecurityConfig.java
  chat/src/main/java/com/amr/chatservice/configuration/WebSocketConfig.java
  chat/src/main/java/com/amr/chatservice/controller/ChatController.java
  chat/src/main/java/com/amr/chatservice/exception/ResourceNotFoundException.java
  chat/src/main/java/com/amr/chatservice/model/ChatMessage.java
  chat/src/main/java/com/amr/chatservice/model/ChatNotification.java
  chat/src/main/java/com/amr/chatservice/model/ChatRoom.java
  chat/src/main/java/com/amr/chatservice/model/MessageStatus.java
  chat/src/main/java/com/amr/chatservice/repository/ChatMessageRepository.java
  chat/src/main/java/com/amr/chatservice/repository/ChatRoomRepository.java
  chat/src/main/java/com/amr/chatservice/service/ChatMessageService.java
  chat/src/main/java/com/amr/chatservice/service/ChatRoomService.java
  chat/src/main/resources/application.yml
  chat/src/test/java/com/amr/chatservice/ChatRoomServiceApplicationTests.java
Owners: @yijia-cc, @yuranranran

Revert "add chat springboot service (#66)" (#72)
  .drone.yml
  chat/.gitignore
  chat/Dockerfile
  chat/pom.xml
  chat/src/main/java/com/amr/chatservice/ChatServiceApplication.java
  chat/src/main/java/com/amr/chatservice/configuration/SecurityConfig.java
  chat/src/main/java/com/amr/chatservice/configuration/WebSocketConfig.java
  chat/src/main/java/com/amr/chatservice/controller/ChatController.java
  chat/src/main/java/com/amr/chatservice/exception/ResourceNotFoundException.java
  chat/src/main/java/com/amr/chatservice/model/ChatMessage.java
  chat/src/main/java/com/amr/chatservice/model/ChatNotification.java
  chat/src/main/java/com/amr/chatservice/model/ChatRoom.java
  chat/src/main/java/com/amr/chatservice/model/MessageStatus.java
  chat/src/main/java/com/amr/chatservice/repository/ChatMessageRepository.java
  chat/src/main/java/com/amr/chatservice/repository/ChatRoomRepository.java
  chat/src/main/java/com/amr/chatservice/service/ChatMessageService.java
  chat/src/main/java/com/amr/chatservice/service/ChatRoomService.java
  chat/src/main/resources/application.yml
  chat/src/test/java/com/amr/chatservice/ChatRoomServiceApplicationTests.java
Owners: @yijia-cc, @yuranranran

Add controller
  dashboard/controller/controller.go
Owners: @yijia-cc

Add restful user API
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/token.go
  auth/controller/user.go
  auth/main.go
  auth/model/user.go
Owners: @yijia-cc, @isabellakqq

Add userHandler and data model
  dashboard/config/config.go
  dashboard/controller/user.go
  dashboard/go.mod
  dashboard/go.sum
  dashboard/main.go
  dashboard/model/db.go
  dashboard/model/event.go
  dashboard/model/media.go
  dashboard/model/reaction.go
  dashboard/model/user.go
Owners: @yijia-cc, @ziyang-666

Add controller
  auth/.gitignore
  auth/controller/user.go
  dashboard/.gitignore
  dashboard/controller/access.go
  dashboard/controller/comment.go
  dashboard/controller/dashboard.go
  dashboard/controller/delete.go
  dashboard/controller/post.go
  dashboard/controller/search.go
  dashboard/controller/update.go
  dashboard/controller/user.go
  web/package-lock.json
Owners: @isabellakqq, @yijia-cc, @ziyang-666

Add the reserve and amentity switch ui
  web/src/pages/Calendar/CalendarSchedule/index.jsx
Owners: @yijia-cc

Delete, save, update calendar support, switch the amenity data when switch amenity type
  web/src/pages/Calendar/CalendarSchedule/index.jsx
Owners: @yijia-cc

Add sample env files
  auth/.env.dist
  auth/.gitignore
  calendar/.env.dist
  chat/.env.dist
  discussion/.env.dist
Owners: @isabellakqq, @yijia-cc, @yuranranran, @jackiewang5566

Add sample env files (#74)
  auth/.env.dist
  auth/.gitignore
  calendar/.env.dist
  chat/.env.dist
  discussion/.env.dist
Owners: @isabellakqq, @yijia-cc, @yuranranran, @jackiewang5566

Add README files
  auth/README.md
  calendar/README.md
  chat/README.md
  dashboard/README.md
  discussion/README.md
  payment/README.md
Owners: @isabellakqq, @yijia-cc, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

Add README files (#75)
  auth/README.md
  calendar/README.md
  chat/README.md
  dashboard/README.md
  discussion/README.md
  payment/README.md
Owners: @isabellakqq, @yijia-cc, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

Refactor sign in API (#71)
  auth/add.go
  auth/add_test.go
  auth/config/config.go
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/delete.go
  auth/controller/signin.go
  auth/controller/signup.go
  auth/controller/token.go
  auth/db/dao/user.go
  auth/db/db.go
  auth/db/migrations/1_create_schema.sql
  auth/dep/wire.go
  auth/dep/wire_gen.go
  auth/entity/id.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/model/db.go
  auth/model/user.go
  auth/repo/user.go
  auth/routing/entry/entry.go
  auth/routing/handlers.go
  auth/routing/routes.go
  auth/routing/server.go
  auth/security/cipher.go
  auth/security/jwtauthority.go
  auth/service/authentication.go
  auth/service/authorization.go
  auth/tm/timer.go
  auth/tx/transaction.go
  auth/tx/txtest/fake_transaction.go
Owners: @isabellakqq, @yijia-cc

Clean up .env
  auth/.env.dist
Owners: @isabellakqq

Clean up .env (#76)
  auth/.env.dist
Owners: @isabellakqq

Add gRPC service
  auth/.env.dist
  auth/config/config.go
  auth/db/dao/user.go
  auth/db/migrations/1_create_schema.sql
  auth/dep/wire.go
  auth/dep/wire_gen.go
  auth/entity/unit.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/routing/routingentry/entry.go
  auth/rpc/proto/api.pb.go
  auth/rpc/proto/api.proto
  auth/rpc/proto/api_grpc.pb.go
  auth/rpc/rpcentry/entry.go
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  auth/scripts/gen-grpc.sh
  auth/service/authentication.go
  auth/service/authorization.go
  auth/service/user.go
Owners: @isabellakqq, @yijia-cc

Add gRPC service (#77)
  auth/.env.dist
  auth/config/config.go
  auth/db/dao/user.go
  auth/db/migrations/1_create_schema.sql
  auth/dep/wire.go
  auth/dep/wire_gen.go
  auth/entity/unit.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/routing/routingentry/entry.go
  auth/rpc/proto/api.pb.go
  auth/rpc/proto/api.proto
  auth/rpc/proto/api_grpc.pb.go
  auth/rpc/rpcentry/entry.go
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  auth/scripts/gen-grpc.sh
  auth/service/authentication.go
  auth/service/authorization.go
  auth/service/user.go
Owners: @isabellakqq, @yijia-cc

Implement sign up API
  auth/db/dao/user.go
  auth/db/migrations/1_create_schema.sql
  auth/dep/wire.go
  auth/dep/wire_gen.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/idgen/idgen.go
  auth/idgen/uuid.go
  auth/repo/user.go
  auth/routing/handlers.go
  auth/routing/routes.go
  auth/routing/routingentry/entry.go
  auth/routing/server.go
  auth/rpc/proto/api.pb.go
  auth/rpc/rpcentry/entry.go
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  auth/service/authentication.go
  auth/tx/transaction.go
Owners: @yijia-cc, @isabellakqq

Implement sign up API (#78)
  auth/db/dao/user.go
  auth/db/migrations/1_create_schema.sql
  auth/dep/wire.go
  auth/dep/wire_gen.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/idgen/idgen.go
  auth/idgen/uuid.go
  auth/repo/user.go
  auth/routing/handlers.go
  auth/routing/routes.go
  auth/routing/routingentry/entry.go
  auth/routing/server.go
  auth/rpc/proto/api.pb.go
  auth/rpc/rpcentry/entry.go
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  auth/service/authentication.go
  auth/tx/transaction.go
Owners: @yijia-cc, @isabellakqq

Configure staging & production for auth service
  auth/Dockerfile
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @isabellakqq, @yijia-cc

Configure staging & production for auth service (#79)
  auth/Dockerfile
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @isabellakqq, @yijia-cc

Add input validation for sign up
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/routing/handlers.go
  auth/service/authentication.go
  auth/validator/email.go
  auth/validator/password.go
  auth/validator/username.go
Owners: @yijia-cc, @isabellakqq

Enable auto restart for MySQL
  docker-compose-infra.yml
Owners: @yijia-cc

Enable auto restart for MySQL (#81)
  docker-compose-infra.yml
Owners: @yijia-cc

DashBoard template setup
  web/package-lock.json
  web/package.json
  web/src/pages/Dashboard/index.jsx
  web/src/pages/Dashboard/index.less
Owners: @yijia-cc
