Repository yijia-cc/grouplive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yijia-cc, @wl328Weiminli, @unevenmoon, @isabellakqq, @MEtoCS, @wikiwu24, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

Modify Calendar unit test for demo
  calendar/add_test.go
Owners: @yijia-cc

Modify Calendar unit test for demo
  calendar/add_test.go
Owners: @yijia-cc

Merge pull request #20 from yijia-cc/yijia-cc/demo
  calendar/add_test.go
Owners: @yijia-cc

Update web/frontend_initial_setup/src/components/Main/index.jsx
  web/frontend_initial_setup/src/components/Main/index.jsx
Owners: @yijia-cc

Update web/frontend_initial_setup/src/components/Aside/index.jsx
  web/frontend_initial_setup/src/components/Aside/index.jsx
Owners: @yijia-cc

Update web/frontend_initial_setup/src/components/Aside/index.jsx
  web/frontend_initial_setup/src/components/Aside/index.jsx
Owners: @yijia-cc

Update web/frontend_initial_setup/src/components/Aside/index.jsx
  web/frontend_initial_setup/src/components/Aside/index.jsx
Owners: @yijia-cc

Update web/frontend_initial_setup/src/components/Aside/index.jsx
  web/frontend_initial_setup/src/components/Aside/index.jsx
Owners: @yijia-cc

Update web/frontend_initial_setup/src/components/Main/index.jsx
  web/frontend_initial_setup/src/components/Main/index.jsx
Owners: @yijia-cc

Update web/frontend_initial_setup/src/components/Main/index.jsx
  web/frontend_initial_setup/src/components/Main/index.jsx
Owners: @yijia-cc

Update web/frontend_initial_setup/src/components/Main/index.jsx
  web/frontend_initial_setup/src/components/Main/index.jsx
Owners: @yijia-cc

Update web/frontend_initial_setup/src/pages/CalendarSch/index.jsx
  web/frontend_initial_setup/src/pages/CalendarSch/index.jsx
Owners: @yijia-cc

Merge pull request #3 from yijia-cc/frontend_initial_setup
  .DS_Store
  web/config-overrides.js
  web/package-lock.json
  web/package.json
  web/src/App.css
  web/src/App.js
  web/src/App.jsx
  web/src/components/Aside/index.jsx
  web/src/components/GroupLive/index.css
  web/src/components/GroupLive/index.jsx
  web/src/components/Main/index.jsx
  web/src/components/TopBar/images/logo.svg
  web/src/components/TopBar/index.jsx
  web/src/index.js
  web/src/pages/CalendarSchedule/DisplayData/index.jsx
  web/src/pages/CalendarSchedule/index.jsx
  web/src/pages/ChatRoom/index.jsx
  web/src/pages/Dashboard/index.jsx
  web/src/pages/DiscussBoard/index.jsx
  web/src/pages/components/Aside/index.jsx
  web/src/pages/components/GroupLive/index.css
  web/src/pages/components/GroupLive/index.jsx
  web/src/pages/components/Main/index.jsx
  web/src/pages/components/TopBar/images/logo.svg
  web/src/pages/components/TopBar/index.jsx
  web/src/redux/actions/testAction.js
  web/src/redux/reducers/index.js
  web/src/redux/reducers/testReducer.js
  web/src/redux/store.js
Owners: @yijia-cc, @wl328Weiminli

Set primary color
  web/config-overrides.js
Owners: @wl328Weiminli

Revise docker image for web
  .drone.yml
Owners: @yijia-cc

Set primary color (#22)
  .drone.yml
  web/config-overrides.js
Owners: @yijia-cc, @wl328Weiminli

Update GraphQL for Calendar service
  .drone.yml
  calendar/api.graphqls
Owners: @yijia-cc

Update GraphQL for Calendar service (#24)
  .drone.yml
  calendar/api.graphqls
Owners: @yijia-cc

Update web test
  .drone.yml
  web/src/App.test.js
Owners: @yijia-cc, @wl328Weiminli

Fix frontend unit test
  .drone.yml
  web/package-lock.json
  web/src/App.test.js
Owners: @yijia-cc, @wl328Weiminli

Merge pull request #26 from yijia-cc/yijia-cc/frontend-test
  .drone.yml
  web/package-lock.json
  web/src/App.test.js
Owners: @yijia-cc, @wl328Weiminli

New layout initial version
  web/config-overrides.js
  web/src/components/Aside/index.jsx
  web/src/components/GroupLive/index.css
  web/src/components/GroupLive/index.jsx
  web/src/components/Main/index.css
  web/src/components/Main/index.jsx
  web/src/components/TopBar/index.css
  web/src/components/TopBar/index.jsx
  web/src/pages/User/index.jsx
  web/src/pages/components/Aside/index.jsx
  web/src/pages/components/GroupLive/index.css
  web/src/pages/components/GroupLive/index.jsx
  web/src/pages/components/Main/index.jsx
  web/src/pages/components/TopBar/images/logo.svg
  web/src/pages/components/TopBar/index.jsx
Owners: @wl328Weiminli, @yijia-cc

Revise the layout of the page
  web/src/components/Aside/index.jsx
  web/src/components/GroupLive/index.jsx
  web/src/components/Main/index.jsx
  web/src/components/TopBar/UserSetting/index.css
  web/src/components/TopBar/UserSetting/index.jsx
  web/src/components/TopBar/images/GroupLive (1).svg
  web/src/components/TopBar/images/GroupLive (2).svg
  web/src/components/TopBar/images/GroupLive.svg
  web/src/components/TopBar/images/testAvatar.JPG
  web/src/components/TopBar/index.css
  web/src/components/TopBar/index.jsx
  web/src/pages/Payment/index.jsx
  web/src/pages/User/index.jsx
  web/src/pages/UserInfo/index.jsx
Owners: @yijia-cc

Git ignore the .DS_Store file
  .gitignore
Owners: @yijia-cc

Revise the test bug
  .DS_Store
  web/src/setupTests.js
Owners: @yijia-cc, @wl328Weiminli

Delete comment in setupTests
  web/src/setupTests.js
Owners: @wl328Weiminli

Update web/config-overrides.js
  web/config-overrides.js
Owners: @wl328Weiminli

Update web/src/components/Main/index.jsx
  web/src/components/Main/index.jsx
Owners: @yijia-cc

Adjust navigation and layout (#28)
  .DS_Store
  .gitignore
  web/config-overrides.js
  web/src/components/Aside/index.jsx
  web/src/components/GroupLive/index.css
  web/src/components/GroupLive/index.jsx
  web/src/components/Main/index.css
  web/src/components/Main/index.jsx
  web/src/components/TopBar/UserSetting/index.css
  web/src/components/TopBar/UserSetting/index.jsx
  web/src/components/TopBar/images/GroupLive (1).svg
  web/src/components/TopBar/images/GroupLive (2).svg
  web/src/components/TopBar/images/GroupLive.svg
  web/src/components/TopBar/images/testAvatar.JPG
  web/src/components/TopBar/index.css
  web/src/components/TopBar/index.jsx
  web/src/pages/Payment/index.jsx
  web/src/pages/UserInfo/index.jsx
  web/src/pages/components/Aside/index.jsx
  web/src/pages/components/GroupLive/index.css
  web/src/pages/components/GroupLive/index.jsx
  web/src/pages/components/Main/index.jsx
  web/src/pages/components/TopBar/images/logo.svg
  web/src/pages/components/TopBar/index.jsx
  web/src/setupTests.js
Owners: @yijia-cc, @wl328Weiminli

Add GraphQL resolvers
  calendar/Dockerfile
  calendar/go.mod
  calendar/go.sum
  calendar/gqlapi/amenity.go
  calendar/gqlapi/amenitytype.go
  calendar/gqlapi/input.go
  calendar/gqlapi/mutation.go
  calendar/gqlapi/query.go
  calendar/gqlapi/reservation.go
  calendar/gqlapi/resolver.go
  calendar/gqlapi/scalar.go
  calendar/gqlapi/schedule.go
  calendar/gqlapi/schema.graphqls
  calendar/gqlapi/timerange.go
  calendar/gqlapi/timeslot.go
  calendar/gqlapi/timeslottype.go
  calendar/main.go
Owners: @yijia-cc

Format code
  calendar/Dockerfile
  calendar/gqlapi/amenity.go
  calendar/gqlapi/amenitytype.go
  calendar/gqlapi/input.go
  calendar/gqlapi/mutation.go
  calendar/gqlapi/reservation.go
  calendar/gqlapi/resolver.go
  calendar/gqlapi/scalar.go
  calendar/gqlapi/schedule.go
  calendar/gqlapi/schema.graphqls
Owners: @yijia-cc

Merge pull request #30 from yijia-cc/yijia-cc/graphql
  calendar/Dockerfile
  calendar/go.mod
  calendar/go.sum
  calendar/gqlapi/amenity.go
  calendar/gqlapi/amenitytype.go
  calendar/gqlapi/input.go
  calendar/gqlapi/mutation.go
  calendar/gqlapi/query.go
  calendar/gqlapi/reservation.go
  calendar/gqlapi/resolver.go
  calendar/gqlapi/scalar.go
  calendar/gqlapi/schedule.go
  calendar/gqlapi/schema.graphqls
  calendar/gqlapi/timerange.go
  calendar/gqlapi/timeslot.go
  calendar/gqlapi/timeslottype.go
  calendar/main.go
Owners: @yijia-cc

Test
  .drone.yml
  calendar/Dockerfile
Owners: @yijia-cc

test
  .drone.yml
Owners: @yijia-cc

test
  calendar/Dockerfile
Owners: @yijia-cc

Uncomment CI steps
  .drone.yml
Owners: @yijia-cc

Fix Calendar service crashes (#31)
  calendar/Dockerfile
Owners: @yijia-cc

Add initialize calendar db
  calendar/db/migrations/1_create_schema.down.sql
  calendar/db/migrations/1_create_schema.up.sql
Owners: @yijia-cc

Setup db migration
  calendar/.gitignore
  calendar/config/config.go
  calendar/db/db.go
  calendar/db/migrations/1_create_schema.down.sql
  calendar/db/migrations/1_create_schema.sql
  calendar/go.mod
  calendar/go.sum
  calendar/gql/gql.go
  calendar/gql/resolver/amenity.go
  calendar/gql/resolver/amenitytype.go
  calendar/gql/resolver/input.go
  calendar/gql/resolver/mutation.go
  calendar/gql/resolver/query.go
  calendar/gql/resolver/reservation.go
  calendar/gql/resolver/resolver.go
  calendar/gql/resolver/scalar.go
  calendar/gql/resolver/schedule.go
  calendar/gql/resolver/timerange.go
  calendar/gql/resolver/timeslot.go
  calendar/gql/resolver/timeslottype.go
  calendar/gql/schema.graphqls
  calendar/gqlapi/timeslottype.go
  calendar/main.go
Owners: @yijia-cc

Config mysql server
  docker-compose-infra.yml
Owners: @yijia-cc

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Owner
*            @yijia-cc

# frontend owner
*.js         @wl328Weiminli

# auth owner
auth/*       @unevenmoon
auth/*       @isabellakqq

# calendar owner
calendar/*   @yijia-cc

# chat owner
chat/*       @MEtoCS
chat/*       @wikiwu24
chat/*       @yuranranran

# dashboard owner
dashboard/*  @isabellakqq
dashboard/*  @ziyang-666

# discussion owner
discussion/* @jackiewang5566

# payment owner
payment/*    @Zanzan666
