Repository yijia-cc/grouplive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yijia-cc, @wl328Weiminli, @unevenmoon, @isabellakqq, @MEtoCS, @wikiwu24, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

Update proto library version
  calendar/go.mod
  calendar/go.sum
Owners: @yijia-cc

Add dao test function
  calendar/db/dao/daotest/fake_amenitytype.go
Owners: @yijia-cc

Add FindAmenityType API (#108)
  calendar/auth/middleware.go
  calendar/db/dao/amenitytype.go
  calendar/db/dao/daotest/fake_amenitytype.go
  calendar/go.mod
  calendar/go.sum
  calendar/gql/resolver/query.go
  calendar/gql/schema.graphqls
  calendar/gql/server.go
  calendar/obs/analytics.go
  calendar/obs/middleware.go
  calendar/repo/amenitytype.go
  calendar/service/calendar.go
Owners: @yijia-cc

Delete old files
  dashboard/server/middleware/access.go
  dashboard/server/middleware/jwt.go
  dashboard/server/router/router.go
Owners: @yijia-cc

Rebase from master
  dashboard/server/server.go
Owners: @yijia-cc

add hard code classes for user
  chat/src/main/java/com/grouplive/chat/controller/UserController.java
  chat/src/main/java/com/grouplive/chat/model/LoginUser.java
  chat/src/main/java/com/grouplive/chat/repository/LoginUserRepository.java
  chat/src/main/java/com/grouplive/chat/service/UserService.java
  chat/src/main/java/com/grouplive/chat/util/UserSummary.java
Owners: @yijia-cc

Longchen/chatservice (#112)
  chat/src/main/java/com/grouplive/chat/controller/UserController.java
  chat/src/main/java/com/grouplive/chat/model/LoginUser.java
  chat/src/main/java/com/grouplive/chat/repository/LoginUserRepository.java
  chat/src/main/java/com/grouplive/chat/service/UserService.java
  chat/src/main/java/com/grouplive/chat/util/UserSummary.java
Owners: @yijia-cc

discussion rebase conflict resolve
  discussion/src/main/java/info/grouplive/discussion/config/Webconfig.java
  web/package-lock.json
  web/package.json
  web/src/pages/DiscussBoard/components/CreatePost/CreatePost.jsx
  web/src/pages/DiscussBoard/components/CreateTopic/CreateTopic.css
  web/src/pages/DiscussBoard/components/CreateTopic/CreateTopic.jsx
  web/src/pages/DiscussBoard/components/DiscussHome/DiscussHome.css
  web/src/pages/DiscussBoard/components/DiscussHome/DiscussHome.jsx
  web/src/pages/DiscussBoard/components/DiscussMain/DiscussMain.jsx
  web/src/pages/DiscussBoard/components/DiscussSider/DiscussSider.css
  web/src/pages/DiscussBoard/components/DiscussSider/DiscussSider.jsx
  web/src/pages/DiscussBoard/index.jsx
  web/src/pages/DiscussBoard/services/DiscussService.jsx
  web/src/redux/actions/actionType.js
  web/src/redux/actions/createPost.js
  web/src/redux/actions/createTopic.js
  web/src/redux/reducers/discussReducer.js
  web/src/redux/reducers/getPostListReducer.js
  web/src/redux/reducers/getTopicListReducer.js
  web/src/redux/reducers/index.js
  web/src/redux/store.js
Owners: @yijia-cc, @wl328Weiminli

discussion vote adjustment
  discussion/.gitignore
  discussion/pom.xml
  discussion/src/main/java/info/grouplive/discussion/DiscussionApplication.java
  discussion/src/main/java/info/grouplive/discussion/dto/PostResponse.java
  discussion/src/main/java/info/grouplive/discussion/mapper/PostMapper.java
  discussion/src/main/java/info/grouplive/discussion/model/Post.java
  discussion/src/main/java/info/grouplive/discussion/model/VoteType.java
  discussion/src/main/java/info/grouplive/discussion/service/VoteService.java
  discussion/src/main/resources/.env_local
  discussion/src/main/resources/application.properties
  web/src/pages/DiscussBoard/components/DiscussMain/DiscussMain.jsx
  web/src/pages/DiscussBoard/components/PostDetail/PostDetail.jsx
  web/src/pages/DiscussBoard/services/DiscussService.jsx
  web/src/redux/actions/voteAction.js
Owners: @jackiewang5566, @yijia-cc, @wl328Weiminli

discussion user model schema change and backend adjustment
  discussion/dependencies/proto-1.0-SNAPSHOT.jar
  discussion/pom.xml
  discussion/src/main/java/info/grouplive/discussion/DiscussionApplication.java
  discussion/src/main/java/info/grouplive/discussion/Repository/CommentRepository.java
  discussion/src/main/java/info/grouplive/discussion/Repository/PostRepository.java
  discussion/src/main/java/info/grouplive/discussion/Repository/UserRepository.java
  discussion/src/main/java/info/grouplive/discussion/Repository/VoteRepository.java
  discussion/src/main/java/info/grouplive/discussion/config/SecurityConfig.java
  discussion/src/main/java/info/grouplive/discussion/controller/CommentsController.java
  discussion/src/main/java/info/grouplive/discussion/controller/PostController.java
  discussion/src/main/java/info/grouplive/discussion/controller/SubredditController.java
  discussion/src/main/java/info/grouplive/discussion/controller/VoteController.java
  discussion/src/main/java/info/grouplive/discussion/mapper/CommentMapper.java
  discussion/src/main/java/info/grouplive/discussion/mapper/PostMapper.java
  discussion/src/main/java/info/grouplive/discussion/model/Comment.java
  discussion/src/main/java/info/grouplive/discussion/model/Post.java
  discussion/src/main/java/info/grouplive/discussion/model/Subreddit.java
  discussion/src/main/java/info/grouplive/discussion/model/UserModel.java
  discussion/src/main/java/info/grouplive/discussion/model/Vote.java
  discussion/src/main/java/info/grouplive/discussion/model/VoteType.java
  discussion/src/main/java/info/grouplive/discussion/service/AuthService.java
  discussion/src/main/java/info/grouplive/discussion/service/CommentService.java
  discussion/src/main/java/info/grouplive/discussion/service/PostService.java
  discussion/src/main/java/info/grouplive/discussion/service/UserDetailsServiceImpl.java
  discussion/src/main/java/info/grouplive/discussion/service/VoteService.java
  discussion/src/main/resources/.env_local
  discussion/src/main/resources/application.properties
  web/src/pages/DiscussBoard/services/DiscussService.jsx
  web/src/pages/Register/index.jsx
Owners: @yijia-cc, @jackiewang5566

change discussion root url point to staging
  web/src/pages/DiscussBoard/services/DiscussService.jsx
Owners: @yijia-cc

change dockerfile to build local repo dependencies
  discussion/Dockerfile
Owners: @jackiewang5566

discussion update ui and backend
  discussion/.env
  discussion/Dockerfile
  discussion/pom.xml
  discussion/src/main/java/info/grouplive/discussion/DiscussionApplication.java
  discussion/src/main/java/info/grouplive/discussion/model/UserModel.java
  discussion/src/main/java/info/grouplive/discussion/service/AuthService.java
  web/src/components/GroupLive/index.jsx
  web/src/pages/DiscussBoard/services/DiscussService.jsx
Owners: @jackiewang5566, @yijia-cc

add gitignore
  discussion/.gitignore
Owners: @jackiewang5566

update .drone test
  .drone.yml
Owners: @yijia-cc

update drone
  .drone.yml
Owners: @yijia-cc

discussion update ui and backend (#116)
  .drone.yml
  discussion/.env
  discussion/.gitignore
  discussion/Dockerfile
  discussion/pom.xml
  discussion/src/main/java/info/grouplive/discussion/DiscussionApplication.java
  discussion/src/main/java/info/grouplive/discussion/model/UserModel.java
  discussion/src/main/java/info/grouplive/discussion/service/AuthService.java
  web/src/components/GroupLive/index.jsx
  web/src/pages/DiscussBoard/services/DiscussService.jsx
Owners: @yijia-cc, @jackiewang5566

Add Web Preview
  README.md
Owners: @yijia-cc

Add Readme Prerequisites
  README.md
Owners: @yijia-cc

Update Links in Readme
  README.md
Owners: @yijia-cc

Add Service Link
  README.md
Owners: @yijia-cc

Add Bullet Points
  README.md
Owners: @yijia-cc

Update project readme
  README.md
Owners: @yijia-cc

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Owner
*            @yijia-cc

# frontend owner
*.js         @wl328Weiminli

# auth owner
auth/*       @unevenmoon
auth/*       @isabellakqq

# calendar owner
calendar/*   @yijia-cc

# chat owner
chat/*       @MEtoCS
chat/*       @wikiwu24
chat/*       @yuranranran

# dashboard owner
dashboard/*  @isabellakqq
dashboard/*  @ziyang-666

# discussion owner
discussion/* @jackiewang5566

# payment owner
payment/*    @Zanzan666
