Repository yijia-cc/grouplive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yijia-cc, @wl328Weiminli, @unevenmoon, @isabellakqq, @MEtoCS, @wikiwu24, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

Fix web redirect (#95)
  proxy/virtual-hosts/staging/web.conf
Owners: @yijia-cc

Merge
  auth/model/user.go
Owners: @yijia-cc

Add controller
  dashboard/controller/controller.go
Owners: @yijia-cc

Add userHandler and data model
  dashboard/config/config.go
  dashboard/controller/user.go
  dashboard/go.mod
  dashboard/go.sum
  dashboard/main.go
  dashboard/model/db.go
  dashboard/model/event.go
  dashboard/model/media.go
  dashboard/model/reaction.go
  dashboard/model/user.go
Owners: @yijia-cc, @ziyang-666

Remove model
  auth/model/user.go
Owners: @yijia-cc

Fix staging & prod crashes
  dashboard/.gitignore
  dashboard/config/config.go
  dashboard/controller/controller.go
  dashboard/controller/user.go
  dashboard/main.go
  dashboard/model/db.go
  dashboard/model/event.go
  dashboard/model/user.go
Owners: @ziyang-666, @yijia-cc

add chat service (#91)
  chat/pom.xml
  chat/src/main/java/com/grouplive/chat/ChatApplication.java
  chat/src/main/java/com/grouplive/chat/configuration/SecurityConfig.java
  chat/src/main/java/com/grouplive/chat/configuration/WebSocketConfig.java
  chat/src/main/java/com/grouplive/chat/controller/ChatController.java
  chat/src/main/java/com/grouplive/chat/exception/ResourceNotFoundException.java
  chat/src/main/java/com/grouplive/chat/model/ChatMessage.java
  chat/src/main/java/com/grouplive/chat/model/ChatNotification.java
  chat/src/main/java/com/grouplive/chat/model/ChatRoom.java
  chat/src/main/java/com/grouplive/chat/model/MessageStatus.java
  chat/src/main/java/com/grouplive/chat/repository/ChatMessageRepository.java
  chat/src/main/java/com/grouplive/chat/repository/ChatRoomRepository.java
  chat/src/main/java/com/grouplive/chat/service/ChatMessageService.java
  chat/src/main/java/com/grouplive/chat/service/ChatRoomService.java
  chat/src/main/resources/application.properties
  chat/src/main/resources/application.yml
Owners: @yuranranran, @yijia-cc

Isabella/dashboard (#69)
  dashboard/.gitignore
  dashboard/config/config.go
  dashboard/controller/controller.go
  dashboard/controller/user.go
  dashboard/go.mod
  dashboard/go.sum
  dashboard/main.go
  dashboard/model/db.go
  dashboard/model/event.go
  dashboard/model/media.go
  dashboard/model/reaction.go
  dashboard/model/user.go
Owners: @ziyang-666, @yijia-cc

Rebase master
  auth/go.mod
  auth/go.sum
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  auth/scripts/gen-grpc.sh
  discussion/pom.xml
  proto/api.proto
  proto/golang/api.pb.go
  proto/golang/api_grpc.pb.go
  proto/golang/go.mod
  proto/golang/go.sum
  proto/java/.gitignore
  proto/java/build.gradle
  proto/java/gradle/wrapper/gradle-wrapper.jar
  proto/java/gradle/wrapper/gradle-wrapper.properties
  proto/java/gradlew
  proto/java/gradlew.bat
  proto/java/settings.gradle
  proto/java/src/main/java/info/grouplive/proto/Api.java
  proto/java/src/main/java/info/grouplive/proto/AuthenticationServiceGrpc.java
  proto/java/src/main/java/info/grouplive/proto/AuthorizationServiceGrpc.java
  proto/java/src/main/java/info/grouplive/proto/UserServiceGrpc.java
  proto/scripts/grpc-gen.sh
  proto/scripts/grpc-install.sh
Owners: @isabellakqq, @yijia-cc, @jackiewang5566

Rename go package name
  proto/api.proto
  proto/golang/api.pb.go
  proto/golang/api_grpc.pb.go
  proto/java/src/main/java/info/grouplive/proto/Api.java
Owners: @yijia-cc

Move proto to a seperate module (#96)
  auth/go.mod
  auth/go.sum
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  auth/scripts/gen-grpc.sh
  discussion/pom.xml
  proto/api.proto
  proto/golang/api.pb.go
  proto/golang/api_grpc.pb.go
  proto/golang/go.mod
  proto/golang/go.sum
  proto/java/.gitignore
  proto/java/build.gradle
  proto/java/gradle/wrapper/gradle-wrapper.jar
  proto/java/gradle/wrapper/gradle-wrapper.properties
  proto/java/gradlew
  proto/java/gradlew.bat
  proto/java/settings.gradle
  proto/java/src/main/java/info/grouplive/proto/Api.java
  proto/java/src/main/java/info/grouplive/proto/AuthenticationServiceGrpc.java
  proto/java/src/main/java/info/grouplive/proto/AuthorizationServiceGrpc.java
  proto/java/src/main/java/info/grouplive/proto/UserServiceGrpc.java
  proto/scripts/grpc-gen.sh
  proto/scripts/grpc-install.sh
Owners: @isabellakqq, @yijia-cc, @jackiewang5566

Remove replace
  auth/go.mod
  auth/go.sum
Owners: @isabellakqq

Remove replace (#97)
  auth/go.mod
  auth/go.sum
Owners: @isabellakqq

fixed small bugs from previous version
  web/src/pages/Payment/index.jsx
Owners: @yijia-cc

not yet finalized
  payment/go.mod
  payment/go.sum
  payment/main.go
  web/package-lock.json
  web/package.json
  web/src/pages/Payment/index.jsx
Owners: @Zanzan666, @yijia-cc

Add Java gRPC library
  proto/api.proto
  proto/golang/api.pb.go
  proto/golang/api_grpc.pb.go
  proto/java/.gitignore
  proto/java/README.md
  proto/java/build/libs/proto-1.0-SNAPSHOT.jar
  proto/java/src/main/java/info/grouplive/proto/Api.java
  proto/java/src/main/java/info/grouplive/proto/AuthenticationServiceGrpc.java
  proto/java/src/main/java/info/grouplive/proto/AuthorizationServiceGrpc.java
  proto/java/src/main/java/info/grouplive/proto/UserServiceGrpc.java
Owners: @yijia-cc

Add Java gRPC library (#99)
  proto/api.proto
  proto/golang/api.pb.go
  proto/golang/api_grpc.pb.go
  proto/java/.gitignore
  proto/java/README.md
  proto/java/build/libs/proto-1.0-SNAPSHOT.jar
  proto/java/src/main/java/info/grouplive/proto/Api.java
  proto/java/src/main/java/info/grouplive/proto/AuthenticationServiceGrpc.java
  proto/java/src/main/java/info/grouplive/proto/AuthorizationServiceGrpc.java
  proto/java/src/main/java/info/grouplive/proto/UserServiceGrpc.java
Owners: @yijia-cc

Fix GetUser and JWT Encryption bug
  auth/entity/unit.go
  auth/service/authentication.go
Owners: @yijia-cc

Create gRPC service client
  calendar/auth/authenticator.go
  calendar/auth/authorizer.go
  calendar/auth/authtest/stub_authorizer.go
  calendar/auth/client.go
  calendar/auth/middleware.go
  calendar/auth/permission/permission.go
  calendar/auth/user.go
  calendar/auth/userprovider.go
Owners: @yijia-cc

Fix GetUser and JWT Encryption bug (#100)
  auth/entity/unit.go
  auth/service/authentication.go
Owners: @yijia-cc

Update gql schema
  calendar/dep/wire.go
  calendar/dep/wire_gen.go
  calendar/entity/unit.go
  calendar/gql/entry.go
  calendar/gql/resolver/amenityinfo.go
  calendar/gql/resolver/query.go
  calendar/gql/schema.graphqls
  calendar/gql/server/server.go
  calendar/service/calendar.go
Owners: @yijia-cc

Create gRPC service client (#101)
  calendar/auth/authenticator.go
  calendar/auth/authorizer.go
  calendar/auth/authtest/stub_authorizer.go
  calendar/auth/client.go
  calendar/auth/middleware.go
  calendar/auth/permission/permission.go
  calendar/auth/user.go
  calendar/auth/userprovider.go
Owners: @yijia-cc

Update gql schema (#102)
  calendar/dep/wire.go
  calendar/dep/wire_gen.go
  calendar/entity/unit.go
  calendar/gql/entry.go
  calendar/gql/resolver/amenityinfo.go
  calendar/gql/resolver/query.go
  calendar/gql/schema.graphqls
  calendar/gql/server/server.go
  calendar/service/calendar.go
Owners: @yijia-cc

Rename gRPC library and fix amenityType query
  auth/go.mod
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  calendar/config/config.go
  calendar/db/dao/amenity.go
  calendar/entity/user.go
  calendar/go.mod
  calendar/go.sum
Owners: @isabellakqq, @yijia-cc

Rename gRPC library and fix amenityType query (#103)
  auth/go.mod
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  calendar/config/config.go
  calendar/db/dao/amenity.go
  calendar/entity/user.go
  calendar/go.mod
  calendar/go.sum
Owners: @isabellakqq, @yijia-cc

Remove replace for staging deploy
  auth/go.mod
  calendar/go.mod
Owners: @isabellakqq, @yijia-cc

Format and update gRPC version
  auth/entity/unit.go
  auth/go.mod
  auth/go.sum
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  calendar/auth/authenticator.go
  calendar/auth/client.go
  calendar/auth/middleware.go
  calendar/auth/userprovider.go
  calendar/dep/wire.go
  calendar/dep/wire_gen.go
  calendar/entity/unit.go
  calendar/entity/user.go
  calendar/service/calendar.go
  payment/main.go
  proto/golang/api.pb.go
  proto/golang/api_grpc.pb.go
Owners: @yijia-cc, @isabellakqq, @Zanzan666

Remove replace for staging deploy (#104)
  auth/entity/unit.go
  auth/go.mod
  auth/go.sum
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  calendar/auth/authenticator.go
  calendar/auth/client.go
  calendar/auth/middleware.go
  calendar/auth/userprovider.go
  calendar/dep/wire.go
  calendar/dep/wire_gen.go
  calendar/entity/unit.go
  calendar/entity/user.go
  calendar/go.mod
  calendar/service/calendar.go
  payment/main.go
  proto/golang/api.pb.go
  proto/golang/api_grpc.pb.go
Owners: @yijia-cc, @isabellakqq, @Zanzan666

Set the login, register and add reserve UI to the Dashboard
  web/package-lock.json
  web/src/constants.js
  web/src/pages/Dashboard/index.jsx
  web/src/pages/Login/index.jsx
  web/src/pages/Register/index.jsx
Owners: @yijia-cc, @wl328Weiminli

Revise the base url as environment variable
  web/src/constants.js
  web/src/pages/Login/index.jsx
  web/src/pages/Register/index.jsx
Owners: @wl328Weiminli, @yijia-cc

Add observability for Calendar
  calendar/dep/wire.go
  calendar/dep/wire_gen.go
  calendar/gql/gqlentry/entry.go
  calendar/gql/resolver/resolver.go
  calendar/gql/server.go
  calendar/main.go
  calendar/obs/analytics.go
  calendar/obs/logger.go
  calendar/obs/metrics.go
  calendar/obs/middleware.go
  calendar/service/calendar.go
Owners: @yijia-cc

Fix Calendar test bug
  calendar/service/calendar_test.go
Owners: @yijia-cc

Add observability for Calendar (#105)
  calendar/dep/wire.go
  calendar/dep/wire_gen.go
  calendar/gql/gqlentry/entry.go
  calendar/gql/resolver/resolver.go
  calendar/gql/server.go
  calendar/main.go
  calendar/obs/analytics.go
  calendar/obs/logger.go
  calendar/obs/metrics.go
  calendar/obs/middleware.go
  calendar/service/calendar.go
  calendar/service/calendar_test.go
Owners: @yijia-cc

Set the login, register and add reserve UI to the Dashboard (#98)
  web/package-lock.json
  web/src/constants.js
  web/src/pages/Dashboard/index.jsx
  web/src/pages/Login/index.jsx
  web/src/pages/Register/index.jsx
Owners: @yijia-cc, @wl328Weiminli

Fix Nginx start ups
  proxy/default.conf
  proxy/virtual-hosts/prod/calendar.conf
  proxy/virtual-hosts/prod/chat.conf
  proxy/virtual-hosts/prod/dashboard.conf
  proxy/virtual-hosts/prod/discussion.conf
  proxy/virtual-hosts/prod/web.conf
  proxy/virtual-hosts/staging/auth.conf
  proxy/virtual-hosts/staging/calendar.conf
  proxy/virtual-hosts/staging/chat.conf
  proxy/virtual-hosts/staging/dashboard.conf
  proxy/virtual-hosts/staging/discussion.conf
  proxy/virtual-hosts/staging/web.conf
Owners: @yijia-cc

Fix Nginx start ups (#106)
  proxy/default.conf
  proxy/virtual-hosts/prod/calendar.conf
  proxy/virtual-hosts/prod/chat.conf
  proxy/virtual-hosts/prod/dashboard.conf
  proxy/virtual-hosts/prod/discussion.conf
  proxy/virtual-hosts/prod/web.conf
  proxy/virtual-hosts/staging/auth.conf
  proxy/virtual-hosts/staging/calendar.conf
  proxy/virtual-hosts/staging/chat.conf
  proxy/virtual-hosts/staging/dashboard.conf
  proxy/virtual-hosts/staging/discussion.conf
  proxy/virtual-hosts/staging/web.conf
Owners: @yijia-cc

Update Drone config
  docker-compose-infra.yml
  proxy/virtual-hosts/infra/drone.conf
Owners: @yijia-cc

Update Drone config (#107)
  docker-compose-infra.yml
  proxy/virtual-hosts/infra/drone.conf
Owners: @yijia-cc

Dynamicly change base url
  web/.env.development.dist
  web/.env.production
  web/.env.staging
  web/.gitignore
  web/package.json
  web/src/constants.js
  web/src/pages/Login/index.jsx
  web/src/pages/Register/index.jsx
  web/src/service/env.service.js
Owners: @yijia-cc, @wl328Weiminli

Add FindAmenityType API
  calendar/auth/middleware.go
  calendar/db/dao/amenitytype.go
  calendar/db/dao/daotest/fake_amenitytype.go
  calendar/gql/resolver/query.go
  calendar/gql/schema.graphqls
  calendar/gql/server.go
  calendar/obs/analytics.go
  calendar/obs/middleware.go
  calendar/repo/amenitytype.go
  calendar/service/calendar.go
Owners: @yijia-cc

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Owner
*            @yijia-cc

# frontend owner
*.js         @wl328Weiminli

# auth owner
auth/*       @unevenmoon
auth/*       @isabellakqq

# calendar owner
calendar/*   @yijia-cc

# chat owner
chat/*       @MEtoCS
chat/*       @wikiwu24
chat/*       @yuranranran

# dashboard owner
dashboard/*  @isabellakqq
dashboard/*  @ziyang-666

# discussion owner
discussion/* @jackiewang5566

# payment owner
payment/*    @Zanzan666
