Repository yijia-cc/grouplive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yijia-cc, @wl328Weiminli, @unevenmoon, @isabellakqq, @MEtoCS, @wikiwu24, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

Merge pull request #33 from yijia-cc/yijia-cc/init-db
  calendar/.gitignore
  calendar/config/config.go
  calendar/db/db.go
  calendar/db/migrations/1_create_schema.sql
  calendar/go.mod
  calendar/go.sum
  calendar/gql/gql.go
  calendar/gql/resolver/amenity.go
  calendar/gql/resolver/amenitytype.go
  calendar/gql/resolver/input.go
  calendar/gql/resolver/mutation.go
  calendar/gql/resolver/query.go
  calendar/gql/resolver/reservation.go
  calendar/gql/resolver/resolver.go
  calendar/gql/resolver/scalar.go
  calendar/gql/resolver/schedule.go
  calendar/gql/resolver/timerange.go
  calendar/gql/resolver/timeslot.go
  calendar/gql/resolver/timeslottype.go
  calendar/gql/schema.graphqls
  calendar/gqlapi/timeslottype.go
  calendar/main.go
  docker-compose-infra.yml
Owners: @yijia-cc

Fix typo and update MySQL port
  docker-compose-infra.yml
Owners: @yijia-cc

Fix typo and update MySQL port (#34)
  docker-compose-infra.yml
Owners: @yijia-cc

Trigger build
  calendar/add_test.go
Owners: @yijia-cc

Trigger build (#35)
  calendar/add_test.go
Owners: @yijia-cc

Setup db migration
  calendar/db/migrations/1_create_schema.down.sql
  calendar/db/migrations/1_create_schema.up.sql
Owners: @yijia-cc

Add initialize calendar db
  calendar/db/migrations/1_create_schema.down.sql
  calendar/db/migrations/1_create_schema.up.sql
Owners: @yijia-cc

Add DB envs
  calendar/Dockerfile
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @yijia-cc

Update GraphQL ports for calendar service
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @yijia-cc

Configure Calendar DB (#36)
  calendar/Dockerfile
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @yijia-cc

Fix load env file
  calendar/config/config.go
Owners: @yijia-cc

Fix .env file loading bug (#37)
  calendar/config/config.go
Owners: @yijia-cc

Add cache to staging and prod deploy
  .drone.yml
Owners: @yijia-cc

Fix miss spelling in env name for Calendar service
  auth/Dockerfile
  calendar/Dockerfile
  chat/Dockerfile
  dashboard/Dockerfile
  payment/Dockerfile
Owners: @isabellakqq, @yijia-cc, @yuranranran, @ziyang-666, @Zanzan666

Fix miss spelling in env name for Calendar service (#40)
  auth/Dockerfile
  calendar/Dockerfile
  chat/Dockerfile
  dashboard/Dockerfile
  payment/Dockerfile
Owners: @isabellakqq, @yijia-cc, @yuranranran, @ziyang-666, @Zanzan666

Add cache to staging and prod deploy (#41)
  .drone.yml
Owners: @yijia-cc

discussion/fix-bug-PR failing test
  .drone.yml
  web/package-lock.json
Owners: @yijia-cc

discussion/fix-bug-PR failing test
  .drone.yml
  web/package-lock.json
Owners: @yijia-cc

discussion/fix-PR-maven version issue
  .drone.yml
Owners: @yijia-cc

discussion/backend: fix-maven test fail
  .drone.yml
Owners: @yijia-cc

add payment UI
  web/package-lock.json
  web/package.json
  web/src/index.js
  web/src/pages/Payment/index.jsx
  web/yarn.lock
Owners: @yijia-cc, @wl328Weiminli

discussion/update docker config
  discussion/Dockerfile
Owners: @jackiewang5566

discussion/update dockerfile config
  discussion/Dockerfile
  discussion/src/main/resources/application.properties
Owners: @jackiewang5566, @yijia-cc

discussion/update database connection properties to point to remote DB
  discussion/src/main/resources/application.properties
Owners: @yijia-cc

cmv and web works well will create public API later
  auth/config/appConfig.go
  auth/config/dbConfig.go
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/delete.go
  auth/controller/signin.go
  auth/controller/signup.go
  auth/controller/token.go
  auth/createDB.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/model/db.go
  auth/model/user.go
  auth/test/add.go
  auth/test/add_test.go
  web/src/components/GroupLive/index.jsx
  web/src/components/Main/index.jsx
  web/src/components/TopBar/index.css
  web/src/components/TopBar/index.jsx
  web/src/constants.js
  web/src/pages/Login/Login.css
  web/src/pages/Login/Login.jsx
  web/src/pages/Register/Register.css
  web/src/pages/Register/Register.jsx
Owners: @yijia-cc, @isabellakqq, @wl328Weiminli

Fix deployment error for Discussion service
  discussion/.gitignore
  discussion/.mvn/wrapper/MavenWrapperDownloader.java
  discussion/.mvn/wrapper/maven-wrapper.jar
  discussion/.mvn/wrapper/maven-wrapper.properties
  discussion/Dockerfile
  discussion/build.gradle
  discussion/gradle/wrapper/gradle-wrapper.jar
  discussion/gradle/wrapper/gradle-wrapper.properties
  discussion/gradlew
  discussion/gradlew.bat
  discussion/mvnw
  discussion/mvnw.cmd
  discussion/settings.gradle
  discussion/src/main/resources/application.properties
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @jackiewang5566, @yijia-cc

Fix deployment error for Discussion service (#48)
  discussion/.gitignore
  discussion/.mvn/wrapper/MavenWrapperDownloader.java
  discussion/.mvn/wrapper/maven-wrapper.jar
  discussion/.mvn/wrapper/maven-wrapper.properties
  discussion/Dockerfile
  discussion/build.gradle
  discussion/gradle/wrapper/gradle-wrapper.jar
  discussion/gradle/wrapper/gradle-wrapper.properties
  discussion/gradlew
  discussion/gradlew.bat
  discussion/mvnw
  discussion/mvnw.cmd
  discussion/settings.gradle
  discussion/src/main/resources/application.properties
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @jackiewang5566, @yijia-cc

Update web/src/components/GroupLive/index.jsx
  web/src/components/GroupLive/index.jsx
Owners: @yijia-cc

Rvise the tooltip in calendar
  web/src/pages/Calendar/CalendarSchedule/index.css
Owners: @yijia-cc

Add the static component in the calendar page
  web/package-lock.json
  web/package.json
  web/src/components/Main/index.jsx
  web/src/index.js
  web/src/pages/Calendar/AmenityList/index.jsx
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.css
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.jsx
  web/src/pages/Calendar/CalendarSchedule/demo-data/appointments.js
  web/src/pages/Calendar/CalendarSchedule/index.css
  web/src/pages/Calendar/CalendarSchedule/index.jsx
  web/src/pages/Calendar/History/index.css
  web/src/pages/Calendar/History/index.jsx
  web/src/pages/Calendar/SubNavBar/index.jsx
  web/src/pages/Calendar/index.css
  web/src/pages/Calendar/index.jsx
  web/src/pages/CalendarSchedule/DisplayData/index.jsx
  web/src/pages/CalendarSchedule/index.jsx
Owners: @yijia-cc, @wl328Weiminli

Login complete.
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/delete.go
  auth/controller/signin.go
  auth/controller/signup.go
  auth/controller/token.go
  auth/main.go
  auth/model/db.go
  auth/model/user.go
Owners: @yijia-cc, @isabellakqq

Update web/src/components/GroupLive/index.jsx
  web/src/components/GroupLive/index.jsx
Owners: @yijia-cc

Update web/src/components/Main/index.jsx
  web/src/components/Main/index.jsx
Owners: @yijia-cc

Update web/src/pages/Register/Register.jsx
  web/src/pages/Register/Register.jsx
Owners: @yijia-cc

Update web/src/components/Main/index.jsx
  web/src/components/Main/index.jsx
Owners: @yijia-cc

Update web/src/pages/Register/Register.jsx
  web/src/pages/Register/Register.jsx
Owners: @yijia-cc

Update web/src/pages/Login/Login.jsx
  web/src/pages/Login/Login.jsx
Owners: @yijia-cc

Uncomment the demo data
  web/src/pages/Calendar/CalendarSchedule/demo-data/appointments.js
Owners: @wl328Weiminli

Update GraphQL schema and resolver
  calendar/config/config.go
  calendar/db/db.go
  calendar/gql/gql.go
  calendar/gql/resolver/amenity.go
  calendar/gql/resolver/amenitytype.go
  calendar/gql/resolver/input.go
  calendar/gql/resolver/mutation.go
  calendar/gql/resolver/query.go
  calendar/gql/resolver/reservation.go
  calendar/gql/resolver/reservation_status.go
  calendar/gql/resolver/resolver.go
  calendar/gql/resolver/scalar.go
  calendar/gql/resolver/schedule.go
  calendar/gql/resolver/subscription.go
  calendar/gql/resolver/timerange.go
  calendar/gql/resolver/timeslottype.go
  calendar/gql/schema.graphqls
  calendar/main.go
Owners: @yijia-cc

Update GraphQL schema and resolver (#51)
  calendar/config/config.go
  calendar/db/db.go
  calendar/gql/gql.go
  calendar/gql/resolver/amenity.go
  calendar/gql/resolver/amenitytype.go
  calendar/gql/resolver/input.go
  calendar/gql/resolver/mutation.go
  calendar/gql/resolver/query.go
  calendar/gql/resolver/reservation.go
  calendar/gql/resolver/reservation_status.go
  calendar/gql/resolver/resolver.go
  calendar/gql/resolver/scalar.go
  calendar/gql/resolver/schedule.go
  calendar/gql/resolver/subscription.go
  calendar/gql/resolver/timerange.go
  calendar/gql/resolver/timeslottype.go
  calendar/gql/schema.graphqls
  calendar/main.go
Owners: @yijia-cc

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Owner
*            @yijia-cc

# frontend owner
*.js         @wl328Weiminli

# auth owner
auth/*       @unevenmoon
auth/*       @isabellakqq

# calendar owner
calendar/*   @yijia-cc

# chat owner
chat/*       @MEtoCS
chat/*       @wikiwu24
chat/*       @yuranranran

# dashboard owner
dashboard/*  @isabellakqq
dashboard/*  @ziyang-666

# discussion owner
discussion/* @jackiewang5566

# payment owner
payment/*    @Zanzan666
