Repository yijia-cc/grouplive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yijia-cc, @wl328Weiminli, @unevenmoon, @isabellakqq, @MEtoCS, @wikiwu24, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

revise the frontend layout problem
  web/src/components/Main/index.jsx
  web/src/components/TopBar/images/20210521_logo3.svg
  web/src/components/TopBar/images/GroupLive (1).svg
  web/src/components/TopBar/images/GroupLive (2).svg
  web/src/components/TopBar/index.css
  web/src/components/TopBar/index.jsx
Owners: @yijia-cc

Using npm install --legacy-peer-deps
  .drone.yml
Owners: @yijia-cc

Revise the package-lock and the npm install command
  .drone.yml
  web/package-lock.json
Owners: @yijia-cc

Refactor code to fix external library error
  auth/config/appConfig.go
  auth/config/dbConfig.go
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/delete.go
  auth/controller/signin.go
  auth/controller/signup.go
  auth/controller/token.go
  auth/createDB.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/model/db.go
  auth/model/user.go
  auth/test/add.go
  auth/test/add_test.go
Owners: @yijia-cc, @isabellakqq

Revert "Refactor code to fix external library error"
  auth/config/appConfig.go
  auth/config/dbConfig.go
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/delete.go
  auth/controller/signin.go
  auth/controller/signup.go
  auth/controller/token.go
  auth/createDB.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/model/db.go
  auth/model/user.go
  auth/test/add.go
  auth/test/add_test.go
Owners: @yijia-cc, @isabellakqq

Wl328 weiminli/calendar UI (#49)
  web/package-lock.json
  web/package.json
  web/src/components/Main/index.jsx
  web/src/components/TopBar/images/20210521_logo3.svg
  web/src/components/TopBar/images/GroupLive (1).svg
  web/src/components/TopBar/images/GroupLive (2).svg
  web/src/components/TopBar/index.css
  web/src/components/TopBar/index.jsx
  web/src/index.js
  web/src/pages/Calendar/AmenityList/index.jsx
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.css
  web/src/pages/Calendar/CalendarSchedule/CalendarHeader/index.jsx
  web/src/pages/Calendar/CalendarSchedule/demo-data/appointments.js
  web/src/pages/Calendar/CalendarSchedule/index.css
  web/src/pages/Calendar/CalendarSchedule/index.jsx
  web/src/pages/Calendar/History/index.css
  web/src/pages/Calendar/History/index.jsx
  web/src/pages/Calendar/SubNavBar/index.jsx
  web/src/pages/Calendar/index.css
  web/src/pages/Calendar/index.jsx
  web/src/pages/CalendarSchedule/DisplayData/index.jsx
  web/src/pages/CalendarSchedule/index.jsx
Owners: @yijia-cc, @wl328Weiminli

login reset
  auth/main.go
Owners: @isabellakqq

Delete dbConfig.go
  auth/config/dbConfig.go
Owners: @yijia-cc

Delete appConfig.go
  auth/config/appConfig.go
Owners: @yijia-cc

Fix external lib issue and add .env config file
  auth/config/config.go
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/delete.go
  auth/controller/signin.go
  auth/controller/signup.go
  auth/controller/token.go
  auth/createDB.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/model/db.go
  auth/model/user.go
Owners: @yijia-cc, @isabellakqq

clean up uneccesary file(createDB.go)
  auth/createDB.go
Owners: @isabellakqq

Update web/src/index.js
  web/src/index.js
Owners: @wl328Weiminli

Revise the calendar display bug
  web/src/components/Main/index.jsx
  web/src/components/TopBar/UserSetting/index.css
  web/src/components/TopBar/UserSetting/index.jsx
  web/src/components/TopBar/index.css
  web/src/components/TopBar/index.jsx
Owners: @yijia-cc

Add log
  auth/.env
  auth/main.go
Owners: @isabellakqq

Revise the calendar display bug (#56)
  web/src/components/Main/index.jsx
  web/src/components/TopBar/UserSetting/index.css
  web/src/components/TopBar/UserSetting/index.jsx
  web/src/components/TopBar/index.css
  web/src/components/TopBar/index.jsx
Owners: @yijia-cc

Add log
  auth/.env
Owners: @isabellakqq

Isabella/login (#54)
  auth/config/config.go
  auth/controller/access.go
  auth/controller/controller.go
  auth/controller/delete.go
  auth/controller/signin.go
  auth/controller/signup.go
  auth/controller/token.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/model/db.go
  auth/model/user.go
Owners: @yijia-cc, @isabellakqq

Implement listAmenityType API
  calendar/db/dao/amenity.go
  calendar/db/dao/amenitytype.go
  calendar/db/dao/daotest/fake_amenity.go
  calendar/db/dao/daotest/fake_amenitytype.go
  calendar/dep/dep.go
  calendar/dep/wire_gen.go
  calendar/entity/amenityinfo.go
  calendar/entity/amenitytype.go
  calendar/entity/id.go
  calendar/go.mod
  calendar/go.sum
  calendar/gql/gql.go
  calendar/gql/resolver/amenityinfo.go
  calendar/gql/resolver/amenitytype.go
  calendar/gql/resolver/query.go
  calendar/gql/resolver/resolver.go
  calendar/gql/schema.graphqls
  calendar/main.go
  calendar/repo/amenitytype.go
  calendar/service/calendar.go
  calendar/service/calendar_test.go
  calendar/tx/transaction.go
  calendar/tx/txtest/fake_transaction.go
Owners: @yijia-cc

Apply suggestions from code review
  calendar/db/dao/daotest/fake_amenity.go
Owners: @yijia-cc

Implement main logic for listAmenityType API (#58)
  calendar/db/dao/amenity.go
  calendar/db/dao/amenitytype.go
  calendar/db/dao/daotest/fake_amenity.go
  calendar/db/dao/daotest/fake_amenitytype.go
  calendar/dep/dep.go
  calendar/dep/wire_gen.go
  calendar/entity/amenityinfo.go
  calendar/entity/amenitytype.go
  calendar/entity/id.go
  calendar/go.mod
  calendar/go.sum
  calendar/gql/gql.go
  calendar/gql/resolver/amenityinfo.go
  calendar/gql/resolver/amenitytype.go
  calendar/gql/resolver/query.go
  calendar/gql/resolver/resolver.go
  calendar/gql/schema.graphqls
  calendar/main.go
  calendar/repo/amenitytype.go
  calendar/service/calendar.go
  calendar/service/calendar_test.go
  calendar/tx/transaction.go
  calendar/tx/txtest/fake_transaction.go
Owners: @yijia-cc

resolve conflicts
  web/package-lock.json
  web/src/index.js
Owners: @yijia-cc, @wl328Weiminli

resolve conflicts
  web/package-lock.json
Owners: @yijia-cc

mend
  web/src/index.js
Owners: @wl328Weiminli

Add Chat Springboot Service
  .drone.yml
  chat/.gitignore
  chat/Dockerfile
  chat/go.mod
  chat/go.sum
  chat/main.go
  chat/mvnw
  chat/mvnw.cmd
  chat/pom.xml
  chat/src/main/java/com/grouplive/chat/ChatApplication.java
  chat/src/main/resources/application.properties
  chat/src/test/java/com/grouplive/chat/ChatApplicationTests.java
  chat/subtract.go
  chat/subtract_test.go
Owners: @yijia-cc, @yuranranran

Add Chat Springboot Service (#60)
  .drone.yml
  chat/.gitignore
  chat/Dockerfile
  chat/go.mod
  chat/go.sum
  chat/main.go
  chat/mvnw
  chat/mvnw.cmd
  chat/pom.xml
  chat/src/main/java/com/grouplive/chat/ChatApplication.java
  chat/src/main/resources/application.properties
  chat/src/test/java/com/grouplive/chat/ChatApplicationTests.java
  chat/subtract.go
  chat/subtract_test.go
Owners: @yijia-cc, @yuranranran

Add REST controller
  chat/src/main/java/com/grouplive/chat/ChatApplication.java
Owners: @yijia-cc

Setup chat springboot service (#61)
  chat/src/main/java/com/grouplive/chat/ChatApplication.java
Owners: @yijia-cc

Add user permission
  calendar/service/calendar.go
Owners: @yijia-cc

Implement listAmenityType API
  calendar/auth/authenticator.go
  calendar/auth/authorizer.go
  calendar/auth/permission/permission.go
  calendar/db/dao/daotest/fake_amenity.go
  calendar/entity/user.go
Owners: @yijia-cc

Merge
  calendar/auth/user.go
  calendar/go.mod
  calendar/go.sum
  calendar/gql/resolver/query.go
  calendar/service/calendar_test.go
Owners: @yijia-cc

Clean up dependencies
  calendar/go.mod
  calendar/go.sum
Owners: @yijia-cc

Make Calendar service testable
  calendar/auth/authenticator.go
  calendar/auth/authorizer.go
  calendar/auth/authtest/stub_authorizer.go
  calendar/auth/client.go
  calendar/dep/dep.go
  calendar/dep/wire_gen.go
  calendar/gql/resolver/resolver.go
  calendar/service/calendar.go
  calendar/service/calendar_test.go
Owners: @yijia-cc

Implement DAOs
  calendar/db/dao/amenity.go
  calendar/db/dao/amenitytype.go
Owners: @yijia-cc

Merge pull request #59 from yijia-cc/yijia-cc/list-amenitytype
  calendar/auth/authenticator.go
  calendar/auth/authorizer.go
  calendar/auth/authtest/stub_authorizer.go
  calendar/auth/client.go
  calendar/auth/permission/permission.go
  calendar/auth/user.go
  calendar/db/dao/daotest/fake_amenity.go
  calendar/dep/dep.go
  calendar/dep/wire_gen.go
  calendar/entity/user.go
  calendar/go.mod
  calendar/go.sum
  calendar/gql/resolver/query.go
  calendar/gql/resolver/resolver.go
  calendar/service/calendar.go
  calendar/service/calendar_test.go
Owners: @yijia-cc

Implement DAOs (#63)
  calendar/db/dao/amenity.go
  calendar/db/dao/amenitytype.go
Owners: @yijia-cc

Add auth and refactor gql server
  calendar/auth/authenticator.go
  calendar/auth/authorizer.go
  calendar/auth/authtest/stub_authorizer.go
  calendar/auth/client.go
  calendar/auth/middleware.go
  calendar/auth/permission/permission.go
  calendar/auth/user.go
  calendar/db/dao/amenity.go
  calendar/db/dao/amenitytype.go
  calendar/dep/dep.go
  calendar/dep/wire_gen.go
  calendar/gql/entry.go
  calendar/gql/gql.go
  calendar/gql/resolver/query.go
  calendar/gql/resolver/resolver.go
  calendar/gql/server/server.go
  calendar/service/calendar.go
  calendar/service/calendar_test.go
  calendar/tx/txtest/fake_transaction.go
Owners: @yijia-cc

Get token from authorization header
  calendar/auth/user.go
Owners: @yijia-cc

Add auth and refactor gql server (#64)
  calendar/auth/authenticator.go
  calendar/auth/authorizer.go
  calendar/auth/authtest/stub_authorizer.go
  calendar/auth/client.go
  calendar/auth/middleware.go
  calendar/auth/permission/permission.go
  calendar/auth/user.go
  calendar/db/dao/amenity.go
  calendar/db/dao/amenitytype.go
  calendar/dep/dep.go
  calendar/dep/wire_gen.go
  calendar/gql/entry.go
  calendar/gql/gql.go
  calendar/gql/resolver/query.go
  calendar/gql/resolver/resolver.go
  calendar/gql/server/server.go
  calendar/service/calendar.go
  calendar/service/calendar_test.go
  calendar/tx/txtest/fake_transaction.go
Owners: @yijia-cc

added ui
  web/package-lock.json
  web/package.json
  web/src/index.js
  web/src/pages/Payment/index.jsx
Owners: @yijia-cc, @wl328Weiminli

add chat springboot service
  .drone.yml
  chat/.gitignore
  chat/Dockerfile
  chat/pom.xml
  chat/src/main/java/com/amr/chatservice/ChatServiceApplication.java
  chat/src/main/java/com/amr/chatservice/configuration/SecurityConfig.java
  chat/src/main/java/com/amr/chatservice/configuration/WebSocketConfig.java
  chat/src/main/java/com/amr/chatservice/controller/ChatController.java
  chat/src/main/java/com/amr/chatservice/exception/ResourceNotFoundException.java
  chat/src/main/java/com/amr/chatservice/model/ChatMessage.java
  chat/src/main/java/com/amr/chatservice/model/ChatNotification.java
  chat/src/main/java/com/amr/chatservice/model/ChatRoom.java
  chat/src/main/java/com/amr/chatservice/model/MessageStatus.java
  chat/src/main/java/com/amr/chatservice/repository/ChatMessageRepository.java
  chat/src/main/java/com/amr/chatservice/repository/ChatRoomRepository.java
  chat/src/main/java/com/amr/chatservice/service/ChatMessageService.java
  chat/src/main/java/com/amr/chatservice/service/ChatRoomService.java
  chat/src/main/resources/application.yml
  chat/src/test/java/com/amr/chatservice/ChatRoomServiceApplicationTests.java
Owners: @yijia-cc, @yuranranran

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Owner
*            @yijia-cc

# frontend owner
*.js         @wl328Weiminli

# auth owner
auth/*       @unevenmoon
auth/*       @isabellakqq

# calendar owner
calendar/*   @yijia-cc

# chat owner
chat/*       @MEtoCS
chat/*       @wikiwu24
chat/*       @yuranranran

# dashboard owner
dashboard/*  @isabellakqq
dashboard/*  @ziyang-666

# discussion owner
discussion/* @jackiewang5566

# payment owner
payment/*    @Zanzan666
