Repository yijia-cc/grouplive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yijia-cc, @wl328Weiminli, @unevenmoon, @isabellakqq, @MEtoCS, @wikiwu24, @yuranranran, @ziyang-666, @jackiewang5566, @Zanzan666

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Owner
*            @yijia-cc

# frontend owner
*.js         @wl328Weiminli

# auth owner
auth/*       @unevenmoon
auth/*       @isabellakqq

# calendar owner
calendar/*   @yijia-cc

# chat owner
chat/*       @MEtoCS
chat/*       @wikiwu24
chat/*       @yuranranran

# dashboard owner
dashboard/*  @isabellakqq
dashboard/*  @ziyang-666

# discussion owner
discussion/* @jackiewang5566

# payment owner
payment/*    @Zanzan666

Login Router setup, temporarily use my Around server to simulate login
  web/src/components/GroupLive/index.jsx
  web/src/components/Main/index.jsx
  web/src/components/TopBar/UserSetting/index.jsx
  web/src/components/TopBar/index.jsx
  web/src/constants.js
  web/src/pages/Calendar/index.jsx
  web/src/pages/Dashboard/index.jsx
  web/src/pages/Login/index.css
  web/src/pages/Login/index.jsx
Owners: @yijia-cc, @wl328Weiminli

Update auth docker file
  auth/Dockerfile
Owners: @isabellakqq

Register setup, temporarily use my Around server simulate register
  web/src/components/Main/index.jsx
  web/src/pages/Register/index.css
  web/src/pages/Register/index.jsx
Owners: @yijia-cc

Fix auth Docker (#82)
  auth/Dockerfile
Owners: @isabellakqq

Add input validation for sign up (#80)
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/routing/handlers.go
  auth/service/authentication.go
  auth/validator/email.go
  auth/validator/password.go
  auth/validator/username.go
Owners: @yijia-cc, @isabellakqq

Wl328 weiminli/dashboard static UI and login router (#83)
  web/package-lock.json
  web/package.json
  web/src/components/GroupLive/index.jsx
  web/src/components/Main/index.jsx
  web/src/components/TopBar/UserSetting/index.jsx
  web/src/components/TopBar/index.jsx
  web/src/constants.js
  web/src/pages/Calendar/index.jsx
  web/src/pages/Dashboard/index.jsx
  web/src/pages/Dashboard/index.less
  web/src/pages/Login/index.css
  web/src/pages/Login/index.jsx
  web/src/pages/Register/index.css
  web/src/pages/Register/index.jsx
Owners: @yijia-cc, @wl328Weiminli

VCerify sign in user identity
  auth/security/jwtauthority.go
  auth/service/authentication.go
Owners: @yijia-cc

Expose gRPC port for staging and prod
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @yijia-cc

Verify sign in user identity (#84)
  auth/security/jwtauthority.go
  auth/service/authentication.go
Owners: @yijia-cc

Expose gRPC port for staging and prod (#85)
  docker-compose-prod.yml
  docker-compose-staging.yml
Owners: @yijia-cc

chat thread frontend UI
  chat/pom.xml
  chat/src/main/resources/application.properties
  package-lock.json
  web/package-lock.json
  web/package.json
  web/public/index.html
  web/src/pages/ChatRoom/atom/globalState.js
  web/src/pages/ChatRoom/chat/Chat.css
  web/src/pages/ChatRoom/chat/index.js
  web/src/pages/ChatRoom/index.css
  web/src/pages/ChatRoom/index.jsx
  web/src/pages/ChatRoom/util/ApiUtil.js
Owners: @yuranranran, @yijia-cc, @wl328Weiminli

Fix build error
  web/Dockerfile
  web/package-lock.json
  web/package.json
Owners: @yijia-cc

Change install to ci
  .drone.yml
Owners: @yijia-cc

Delete test
  web/package.json
  web/src/App.test.js
Owners: @yijia-cc, @wl328Weiminli

chat thread frontend UI (#86)
  .drone.yml
  chat/pom.xml
  chat/src/main/resources/application.properties
  package-lock.json
  web/Dockerfile
  web/package-lock.json
  web/package.json
  web/public/index.html
  web/src/App.test.js
  web/src/pages/ChatRoom/atom/globalState.js
  web/src/pages/ChatRoom/chat/Chat.css
  web/src/pages/ChatRoom/chat/index.js
  web/src/pages/ChatRoom/index.css
  web/src/pages/ChatRoom/index.jsx
  web/src/pages/ChatRoom/util/ApiUtil.js
Owners: @yijia-cc, @yuranranran, @wl328Weiminli

Add resource type table
  auth/db/migrations/1_create_schema.sql
  auth/db/migrations/2_add_resource_tables.sql
Owners: @yijia-cc

Add HasPermission and GetUser API
  auth/config/config.go
  auth/config/env.go
  auth/db/dao/errors.go
  auth/db/dao/permbinding.go
  auth/db/dao/user.go
  auth/db/migrations/1_create_schema.sql
  auth/db/migrations/2_add_resource_tables.sql
  auth/dep/wire.go
  auth/dep/wire_gen.go
  auth/entity/permbinding.go
  auth/entity/permission.go
  auth/entity/resource.go
  auth/entity/resourcetype.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/repo/user.go
  auth/routing/server.go
  auth/rpc/proto/api.pb.go
  auth/rpc/proto/api.proto
  auth/rpc/proto/api_grpc.pb.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  auth/service/authentication.go
  auth/service/authorization.go
  auth/service/user.go
Owners: @yijia-cc, @isabellakqq

Clean up code
  auth/config/env.go
  auth/db/dao/user.go
  auth/dep/wire_gen.go
  auth/entity/permbinding.go
  auth/entity/permission.go
  auth/entity/resource.go
  auth/entity/resourcetype.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/main.go
  auth/rpc/proto/api.pb.go
  auth/rpc/proto/api_grpc.pb.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/security/jwtauthority.go
  auth/service/authentication.go
  auth/service/authorization.go
  auth/service/user.go
  auth/validator/email.go
  auth/validator/username.go
Owners: @yijia-cc, @isabellakqq

Clean up code
  auth/dep/wire.go
  auth/main.go
  auth/routing/handlers.go
  auth/routing/routes.go
  auth/routing/server.go
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/service/authentication.go
Owners: @yijia-cc, @isabellakqq

Finish Auth service (#87)
  auth/config/config.go
  auth/config/env.go
  auth/db/dao/errors.go
  auth/db/dao/permbinding.go
  auth/db/dao/user.go
  auth/db/migrations/1_create_schema.sql
  auth/db/migrations/2_add_resource_tables.sql
  auth/dep/wire.go
  auth/dep/wire_gen.go
  auth/entity/permbinding.go
  auth/entity/permission.go
  auth/entity/resource.go
  auth/entity/resourcetype.go
  auth/entity/user.go
  auth/main.go
  auth/repo/user.go
  auth/routing/handlers.go
  auth/routing/routes.go
  auth/routing/server.go
  auth/rpc/proto/api.pb.go
  auth/rpc/proto/api.proto
  auth/rpc/rpcservice/authentication.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/rpc/server.go
  auth/security/jwtauthority.go
  auth/service/authentication.go
  auth/service/authorization.go
  auth/service/user.go
  auth/validator/email.go
  auth/validator/username.go
Owners: @yijia-cc, @isabellakqq

Fix chat build error
  chat/Dockerfile
  chat/pom.xml
Owners: @yuranranran

Fix chat build error (#88)
  chat/Dockerfile
  chat/pom.xml
Owners: @yuranranran

Fix chat build error
  chat/Dockerfile
  chat/pom.xml
Owners: @yuranranran

Fix Web build
  web/.dockerignore
  web/Dockerfile
  web/README.md
  web/package-lock.json
  web/package.json
Owners: @yijia-cc

Add Nginx version
  web/Dockerfile
Owners: @yijia-cc

Add Python to web test
  .drone.yml
Owners: @yijia-cc

Fix build (#89)
  .drone.yml
  web/.dockerignore
  web/Dockerfile
  web/README.md
  web/package-lock.json
  web/package.json
Owners: @yijia-cc

Finish auth service
  auth/db/dao/permbinding.go
  auth/db/dao/user.go
  auth/db/migrations/3_add_phone_column.sql
  auth/entity/permbinding.go
  auth/entity/resource.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/routing/handlers.go
  auth/rpc/proto/api.pb.go
  auth/rpc/proto/api.proto
  auth/rpc/proto/api_grpc.pb.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/seeds/seeder.go
  auth/validator/email.go
Owners: @yijia-cc, @isabellakqq

Finish auth service (#90)
  auth/db/dao/permbinding.go
  auth/db/dao/user.go
  auth/db/migrations/3_add_phone_column.sql
  auth/entity/permbinding.go
  auth/entity/resource.go
  auth/entity/user.go
  auth/go.mod
  auth/go.sum
  auth/routing/handlers.go
  auth/rpc/proto/api.pb.go
  auth/rpc/proto/api.proto
  auth/rpc/proto/api_grpc.pb.go
  auth/rpc/rpcservice/authorization.go
  auth/rpc/rpcservice/user.go
  auth/seeds/seeder.go
  auth/validator/email.go
Owners: @yijia-cc, @isabellakqq

Upgrade to more flexible proxy
  docker-compose-infra.yml
  docker-compose-prod.yml
  docker-compose-staging.yml
  proxy/Dockerfile
  proxy/virtual-hosts/prod/calendar.conf
  proxy/virtual-hosts/prod/chat.conf
  proxy/virtual-hosts/prod/dashboard.conf
  proxy/virtual-hosts/prod/discussion.conf
  proxy/virtual-hosts/staging/auth.conf
  proxy/virtual-hosts/staging/calendar.conf
  proxy/virtual-hosts/staging/chat.conf
  proxy/virtual-hosts/staging/dashboard.conf
  proxy/virtual-hosts/staging/discussion.conf
Owners: @yijia-cc

Upgrade to more flexible proxy (#92)
  docker-compose-infra.yml
  docker-compose-prod.yml
  docker-compose-staging.yml
  proxy/Dockerfile
  proxy/virtual-hosts/prod/calendar.conf
  proxy/virtual-hosts/prod/chat.conf
  proxy/virtual-hosts/prod/dashboard.conf
  proxy/virtual-hosts/prod/discussion.conf
  proxy/virtual-hosts/staging/auth.conf
  proxy/virtual-hosts/staging/calendar.conf
  proxy/virtual-hosts/staging/chat.conf
  proxy/virtual-hosts/staging/dashboard.conf
  proxy/virtual-hosts/staging/discussion.conf
Owners: @yijia-cc

add chat service
  chat/pom.xml
  chat/src/main/java/com/grouplive/chat/ChatApplication.java
  chat/src/main/java/com/grouplive/chat/configuration/SecurityConfig.java
  chat/src/main/java/com/grouplive/chat/configuration/WebSocketConfig.java
  chat/src/main/java/com/grouplive/chat/controller/ChatController.java
  chat/src/main/java/com/grouplive/chat/exception/ResourceNotFoundException.java
  chat/src/main/java/com/grouplive/chat/model/ChatMessage.java
  chat/src/main/java/com/grouplive/chat/model/ChatNotification.java
  chat/src/main/java/com/grouplive/chat/model/ChatRoom.java
  chat/src/main/java/com/grouplive/chat/model/MessageStatus.java
  chat/src/main/java/com/grouplive/chat/repository/ChatMessageRepository.java
  chat/src/main/java/com/grouplive/chat/repository/ChatRoomRepository.java
  chat/src/main/java/com/grouplive/chat/service/ChatMessageService.java
  chat/src/main/java/com/grouplive/chat/service/ChatRoomService.java
  chat/src/main/resources/application.properties
  chat/src/main/resources/application.yml
Owners: @yuranranran, @yijia-cc

Move conf to default
  docker-compose-infra.yml
  proxy/Dockerfile
  proxy/default.conf
  proxy/virtual-hosts/prod/calendar.conf
  proxy/virtual-hosts/prod/chat.conf
  proxy/virtual-hosts/prod/dashboard.conf
  proxy/virtual-hosts/prod/discussion.conf
  proxy/virtual-hosts/staging/auth.conf
  proxy/virtual-hosts/staging/calendar.conf
  proxy/virtual-hosts/staging/chat.conf
  proxy/virtual-hosts/staging/dashboard.conf
  proxy/virtual-hosts/staging/discussion.conf
Owners: @yijia-cc

Move conf to default (#93)
  docker-compose-infra.yml
  proxy/Dockerfile
  proxy/default.conf
  proxy/virtual-hosts/prod/calendar.conf
  proxy/virtual-hosts/prod/chat.conf
  proxy/virtual-hosts/prod/dashboard.conf
  proxy/virtual-hosts/prod/discussion.conf
  proxy/virtual-hosts/staging/auth.conf
  proxy/virtual-hosts/staging/calendar.conf
  proxy/virtual-hosts/staging/chat.conf
  proxy/virtual-hosts/staging/dashboard.conf
  proxy/virtual-hosts/staging/discussion.conf
Owners: @yijia-cc

Test
  proxy/Dockerfile
  proxy/default.conf
  proxy/virtual-hosts/staging/auth.conf
Owners: @yijia-cc

Fix syntax:
  proxy/default.conf
Owners: @yijia-cc

Add conf for services
  docker-compose-infra.yml
  proxy/default.conf
  proxy/virtual-hosts/prod/calendar.conf
  proxy/virtual-hosts/prod/chat.conf
  proxy/virtual-hosts/prod/dashboard.conf
  proxy/virtual-hosts/prod/discussion.conf
  proxy/virtual-hosts/prod/web.conf
  proxy/virtual-hosts/staging/auth.conf
  proxy/virtual-hosts/staging/calendar.conf
  proxy/virtual-hosts/staging/chat.conf
  proxy/virtual-hosts/staging/dashboard.conf
  proxy/virtual-hosts/staging/discussion.conf
  proxy/virtual-hosts/staging/web.conf
Owners: @yijia-cc

Split config for services (#94)
  docker-compose-infra.yml
  proxy/Dockerfile
  proxy/default.conf
  proxy/virtual-hosts/prod/calendar.conf
  proxy/virtual-hosts/prod/chat.conf
  proxy/virtual-hosts/prod/dashboard.conf
  proxy/virtual-hosts/prod/discussion.conf
  proxy/virtual-hosts/prod/web.conf
  proxy/virtual-hosts/staging/auth.conf
  proxy/virtual-hosts/staging/calendar.conf
  proxy/virtual-hosts/staging/chat.conf
  proxy/virtual-hosts/staging/dashboard.conf
  proxy/virtual-hosts/staging/discussion.conf
  proxy/virtual-hosts/staging/web.conf
Owners: @yijia-cc

Fix web redirect
  proxy/virtual-hosts/staging/web.conf
Owners: @yijia-cc

Fix web redirect
  proxy/virtual-hosts/staging/web.conf
Owners: @yijia-cc
